<div data-v-1fab6669 class="error403">
    <div data-v-1fab6669 class="error403-body-con">
      <el-card data-v-1fab6669 class="box-card">
        <div data-v-1fab6669 class="error403-body-con-title">4
          <span data-v-1fab6669 class="error403-0-span">
            <i class="icon-quanxian"></i>
          </span>
          <span data-v-1fab6669 class="error403-key-span">
            <i class="icon-iconset0216"></i>
          </span>
        </div>
        <p data-v-1fab6669 class="error403-body-con-message">You don't have permission</p>
        <div data-v-1fab6669 class="error403-btn-con">
          <el-button data-v-1fab6669 @click="goHome" size="large" style="width: 200px;" type="text">返回首页</el-button>
          <el-button data-v-1fab6669 @click="backPage" size="large" style="width: 200px;margin-left: 40px;" type="primary">返回上一页</el-button>
        </div>
      </el-card>
    </div>
  </div>