<div data-v-1fb97dea class="error404">
    <div data-v-1fb97dea class="error404-body-con">
      <el-card data-v-1fb97dea class="box-card">
        <div data-v-1fb97dea class="error404-body-con-title">4
          <span data-v-1fb97dea>0</span>4
        </div>
        <p data-v-1fb97dea class="error404-body-con-message">YOU&nbsp;&nbsp;LOOK&nbsp;&nbsp;LOST</p>
        <div data-v-1fb97dea class="error404-btn-con">
          <el-button data-v-1fb97dea @click="goHome" size="large" style="width: 200px;" type="text">返回首页</el-button>
          <el-button data-v-1fb97dea @click="backPage" size="large" style="width: 200px;margin-left: 40px;" type="primary">返回上一页</el-button>
        </div>
      </el-card>
    </div>
  </div>