<div data-v-54675b27 class="error500">
    <div data-v-54675b27 class="error500-body-con">
      <el-card class="box-card">
        <div data-v-54675b27 class="error500-body-con-title">
          5
          <span data-v-54675b27 class="error500-0-span">
            <i class="icon-debug"></i>
          </span>
          <span data-v-54675b27 class="error500-0-span">
            <i class="icon-debug"></i>
          </span>
        </div>
        <p data-v-54675b27 class="error500-body-con-message">Oops! the server is wrong</p>
        <div data-v-54675b27 class="error500-btn-con">
          <el-button data-v-54675b27 @click="goHome" size="large" style="width: 200px;" type="text">返回首页</el-button>
          <el-button data-v-54675b27 @click="backPage" size="large" style="width: 200px;margin-left: 40px;" type="primary">返回上一页</el-button>
        </div>
      </el-card>
    </div>
  </div>