<div data-v-5d8e66f6  data-v-274a9811 class="table-container pull-height">
   
    <avue-crud :option="tableOption" 
               :data="tableData" 
               :table-loading="tableLoading" 
               :page="page" ref="crud" 
               width="290" 
               @row-save="handleSave"
               @row-update="handleUpdate" 
               @row-del="handleDel"
               @selection-change="handleSelectionChange"
               @search-change="handleSearchChange"
               @current-change="handleCurrentChange"
               :before-close="boxhandleClose">
      <template slot-scope="scope" slot="menu">
        <el-button icon="el-icon-check" size="small"  @click="handleGrade(scope.row,scope.$index)" >权限</el-button>
      </template>
      <template slot="menuRight">
        <el-button type="primary"
                   icon="el-icon-plus"
                   @click="handleAdd"
                   circle
                   size="small"></el-button>
        <el-button type="primary"
                   icon="el-icon-edit"
                    @click="handleRowEdit"
                   circle
                   size="small"></el-button>
        <el-button type="primary"
                   icon="el-icon-refresh"
                   circle
                   size="small"
                   @click="handleRefresh"
                  ></el-button>
      </template>
    </avue-crud>
    <el-dialog title="设置权限" :visible.sync="grade.box" width="40%">
      <el-tree :data="menuAll" :props="defaultProps" :default-checked-keys="grade.check" :default-expanded-keys="grade.check" show-checkbox node-key="id" @check-change="handleGradeCheckChange">
      </el-tree>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="handleGradeUpdate">更新</el-button>
      </span>
    </el-dialog>

</div>